<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{%block title%}yzk{%endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	{% block all %}
		<div class='container'>{% block div %}
			<form action='#' class='form-signin' role='form'>
			<h4 class='form-signin-heading'>用户登录</h4>
			<input type='text' class='form-control' placeholder='请输入用户名' required autofocus>
			<div style='height:10px;clear:both;display:block'></div>
			<input type='password" target="_blank" class="keylink">word</a>' class='form-control' placeholder='请输入密码' required>
			<div class='checkbox'>
				<label>
					<input type='checkbox' value='remember-me'> 记住登录状态
				</label>
			</div>
			<button class='btn btn-lg btn-info btn-block' type='submit'>登录</button>
			</form>{% endblock %}
		</div>
	{% endblock %}
  </body>
</html>
